/* Custom Navbar Styling */
.custom-nav-logo
{
  width: 15%;
}
.custom-nav-hover:focus,.custom-nav-hover:hover
{
 color: #00aeef !important;
}
.custom-nav-hover
{
  display: block;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.custom-nav-hover > span
{
  font-size: 15px;
}
.custom-nav-hover:before,
.custom-nav-hover:after,
.custom-nav-hover > span:before,
.custom-nav-hover > span:after
{
  content: "";
  background: #00aeef;
  position: absolute;
  transition: all 0.3s ease 0s;
}
.custom-nav-hover:before,
.custom-nav-hover:after
{
  bottom: 0;
  right: 0;
}
.custom-nav-hover:before
{
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  transition-delay: 0.9s;
}
.custom-nav-hover:after
{
  width: 2px;
  height: 100%;
  transform: translateY(100%);
  transition-delay: 0.6s;
}
.custom-nav-hover.active
{
  background-color: #00aeef;
  border-radius: 4px;
  color: #fff !important;
}
.custom-nav-hover > span:before,
.custom-nav-hover > span:after
{
  top: 0;
  left: 0;
}
.custom-nav-hover > span:before
{
  width: 100%;
  height: 2px;
  transform: translateX(100%);
  transition-delay: 0.3s;
}
.custom-nav-hover > span:after
{
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
  transition-delay: 0s;
}
.custom-nav-hover:hover:before,
.custom-nav-hover:hover:after,
.custom-nav-hover:hover > span:before,
.custom-nav-hover:hover > span:after{ transform: translate(0, 0); }
.custom-nav-hover:hover:before{ transition-delay: 0s; }
.custom-nav-hover:hover:after{ transition-delay: 0.3s; }
.custom-nav-hover:hover > span:before{ transition-delay: 0.6s; }
.custom-nav-hover:hover > span:after{ transition-delay: 0.9s; }
@media only screen and (max-width: 767px)
{
  .custom-nav-hover
  {
    margin-bottom: 20px;
  }
}

.section-heading {
  color: rgba(0,0,0,.5);
}

/* Custom Background Styling */
.custom-bg
{
  background-color: #00aeef;
  color: #fff;
}

/* Custom Icons Styling */
ul.custom-social-network
{
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.custom-social-network li
{
	display: inline;
	margin: 0 5px;
}
.custom-social-network a.custom-Facebook:hover
{
	background-color:#3B5998;
}
.custom-social-network a.custom-Github:hover
{
	background-color:#24292e;
}
.custom-social-network a.custom-Instagram:hover
{
	background-color:#e4405f;
}
.custom-social-network a.custom-Linkedin:hover
{
	background-color:#007bb7;
}
.custom-social-circle li a
{
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.custom-social-circle li i
{
	margin:0;
	line-height:50px;
	text-align: center;
}

.custom-social-circle li a:hover i, .triggeredHover
{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.custom-social-circle i
{
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* Custom Font Styling */
.custom-font
{
  font-size: 15px;
  line-height: 24px;
}
.custom-font-em
{
  color: #00aeef;
  font-weight: bold;
}

/* Custom Font Awesome */
.fa-custom
{
  color: #00aeef;
}
.fa-custom-whatsapp
{
  color: #00e676;
}
.custom-effect
{
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.custom-effect:hover
{
	top: -10px;
}

/* Custom Button */
.custom-btn
{
  font-size: 14px;
  background-color: #222;
  color: #f7f7f7;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px 22px;
  margin:5px;
}
.custom-skills > li > .active
{
    background-color: #00aeef;
    color: #fff;
}
li > a:hover
{
  text-decoration: none;
}
.custom-btn:focus,.custom-btn:hover
{
 background-color: #f7f7f7 !important;
 color: #222;
}

/* Portfolio */
@keyframes skillsEffect {
  0% {
    -webkit-transform: translate3d(0%, -50%, 0);
    transform: translate3d(0%, -50%, 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
.custom-keyframe
{
  animation: 1.5s ease-out 0s 1 skillsEffect;
}

/* Skills */
.skill .pic{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}
.skill .pic img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    border: 2px solid rgba(0,0,0,.5);
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span{
    border: 2px solid #00aeef;
}

footer
{
  color: #00aeef;
}
